<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>
</head>
<body>
    <div th:fragment="navlinks">
        <!-- <div class="container"> -->
            <a href="/add">Add Another Flight</a>
            - <a href="/">Show Listing of Flights</a>
            <!-- - <a href="/bootCampDescription">Boot Camp DescriptionPage</a> -->
            <!-- - <a href="/entireBlog">Blog Entries (long version)</a> -->
            <!-- - <a href="/shortBlog">List of Blog Entries (short version)</a> -->
        <!-- </div> -->
    </div>

    <div th:fragment="footer">
        <footer>
            <p><b>NOTE:</b> All times use the 24-hour clock.</p>
            <p>Copyright 2019</p>
        </footer>
    </div>
</body>
</html>